block params
doctype html
html(lang="zh-Hant-TW", xmlns:og="http://ogp.me/ns#", xmlns:fb="http://www.facebook.com/2008/fbml")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
    block head
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="author", type="text/plain", href="humans.txt")
    //- https://mathiasbynens.be/notes/touch-icons
    //- IE6-10
    link(rel="shortcut icon", href="favicon.ico")
    //- Everybody else
    link(rel="icon", type="image/x-icon", href="./favicon.ico")
    link(rel="icon", type="image/png", href="./favicon.png")
    link(rel="icon", sizes="16x16", href="./assets/images/icon/favicon-16.png")
    link(rel="icon", sizes="32x32", href="./assets/images/icon/favicon-32.png")
    link(rel="icon", sizes="48x48", href="./assets/images/icon/favicon-48.png")
    link(rel="icon", sizes="64x64", href="./assets/images/icon/favicon-64.png")
    link(rel="icon", sizes="128x128", href="./assets/images/icon/favicon-128.png")
    //- Add to homescreen for Chrome on Android
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#FFFFFF")
    link(rel="icon", sizes="192x192", href="./assets/images/icon/favicon-192.png")
    //- Add to homescreen for Safari on iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="apple-mobile-web-app-title", content="")
    link(rel="apple-touch-icon-precomposed", sizes="180x180", href="./assets/images/icon/favicon-180.png")
    link(rel="apple-touch-icon-precomposed", sizes="152x152", href="./assets/images/icon/favicon-152.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="./assets/images/icon/favicon-144.png")
    link(rel="apple-touch-icon-precomposed", sizes="120x120", href="./assets/images/icon/favicon-120.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="./assets/images/icon/favicon-114.png")
    link(rel="apple-touch-icon-precomposed", sizes="76x76", href="./assets/images/icon/favicon-76.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="./assets/images/icon/favicon-72.png")
    link(rel="apple-touch-icon-precomposed", href="./assets/images/icon/favicon-57.png")
    //- Tile icon for Win8 (144x144 + tile color)
    meta(name="msapplication-navbutton-color", content="#FFFFFF")
    meta(name="msapplication-TileColor", content="#FFFFFF")
    //- MS 磚塊牆的 icon 的底色盡量用透明的, 因為磚塊牆本身有底色, 圖片有底色, 會使得磚塊底色像邊框包著 icon
    meta(name="msapplication-TileImage", content="./assets/images/icon/favicon-144-win8.png")
    //- Google - Search Console 網站驗證碼
    //- http://example.com/, http://www.example.com/, https://example.com/, https://www.example.com/ 都要加入
    //- https://www.google.com/webmasters/verification/home
    meta(name="google-site-verification", content="...")
    //- Google - 使用 hreflang 提供正確語言和地區的網址
    //- https://support.google.com/webmasters/answer/189077
    meta(rel="alternate", href=`${host}`, hreflang="zh-Hant")
    //- FB insights setting (必填 fb:app_id)
    //- meta(property="fb:app_id", content=appId)
    //- meta(property="fb:admins", content="100000076224411")
    //- meta(property="fb:admins", content="1476213097")
    meta(http-equiv="cache-control", content="max-age=0")
    if (dev)
      each link_src in filesComponentCSS
        link(rel="stylesheet", href=`./assets/${link_src}`.replace('node_modules', 'components').replace('plugins', 'components'))
      link(rel="stylesheet", href="./assets/stylesheets/style.css")
    else
      //build:css ./assets/stylesheets/style.min.css
      link(rel="stylesheet", href="./assets/stylesheets/style.min.css")
      //endbuild
    block css
  body(id=pageID)
    include ../partials/header
    include ../partials/aside
    block content
    include ../partials/footer
    if (dev)
      each script_src in filesComponentJavascript
        script(src=`./assets/${script_src}`.replace('node_modules', 'components').replace('plugins', 'components'))
      script(src="./assets/javascripts/script.js")
    else
      //build:js ./assets/javascripts/script.min.js
      script(src="./assets/javascripts/script.min.js")
      //endbuild
    block javascript
