extends ../layout/main
block params
  - var pageID = 'index'
block head
  - var pageTitle = ''
  title #{pageTitle} - #{siteName}
  meta(name="keywords", content="HTML,CSS,XML,JavaScript")
  meta(name="description", content="Free Web tutorials")
  meta(name="author", content="Yeh Yulin")
  //- https://developers.facebook.com/docs/sharing/webmasters
  meta(property="og:title", content=pageTitle)
  meta(property="og:site_name", content=siteName)
  meta(property="og:type", content="website")
  meta(property="og:locale", content="zh_tw")
  meta(property="og:url", content=`${host}`)
  meta(property="og:description", content="")
  //- Facebook 分享圖像大小尺寸：https://developers.facebook.com/docs/sharing/best-practices#images
  //- Facebook 廣告圖像大小尺寸（建議採用此處建議）：https://www.facebook.com/business/help/103816146375741
  meta(property="og:image", content=`${host}`)
  meta(property="og:image:type", content="image/jpeg")
  meta(property="og:image:width", content="1200")
  meta(property="og:image:height", content="628")
  meta(property="og:upc", content="Product ID")
  meta(property="og:see_also", content="")
  meta(property="og:availability", content="instock")
  meta(property="og:price:currency", content="ZAR")
  meta(property="og:price:standard_amount", content="100.00")
  meta(property="og:price:amount", content="90.00")
  meta(property="product:price:currency", content="ZAR")
  meta(property="product:price:amount", content="100.00")
  meta(property="product:sale_price:currency", content="ZAR")
  meta(property="product:sale_price:amount", content="90.00")
  meta(property="product:plural_title", content="Product Name")
  meta(property="product:product_link", content="")
  meta(property="product:gender", content="")
  meta(property="product:target_gender", content="")
  meta(property="product:weight:value", content="")
  meta(property="product:weight:units", content="")
  meta(property="og:video:url", content="")
  meta(property="og:video:secure_url", content="")
  meta(property="og:video:type", content="")
  meta(property="og:video:width", content="")
  meta(property="og:video:height", content="")
  meta(property="twitter:card", content="summary_large_image")
  meta(property="twitter:site", content="@nytimes")
  meta(property="twitter:creator", content="@SarahMaslinNir")
  meta(property="twitter:title", content="The Rock")
  meta(property="twitter:description", content="Free Web tutorials")
  meta(property="twitter:image", content="")
  meta(property="twitter:player", content="")
  meta(property="twitter:player:width", content="")
  meta(property="twitter:player:height", content="")
  meta(property="twitter:player:stream", content="")
  meta(property="twitter:player:stream:content_type", content="")
block css
block content
  main
block javascript
